/* style */

.HomeMain {
  display: flex;
  align-items: center;
  gap: 80px;
}

.HomeContent {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 60px;
}

.HomeContent h6 {
  color: rgb(30, 120, 193);
  font-size: 80px;
  /* background: linear-gradient(to right, rgb(255, 255, 255), blue, yellow); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
}

.HomeContent p{
  color: rgb(43, 41, 41);
  font-size:14px;
  font-weight: 700;
}

.HomeImg {
  height: 800px;
  width:100%;
  object-fit: contain;
}